.swiper {
    width: 100%;
    z-index: -10000;
}
.swiper-wrapper {
    z-index: -10000;
}
.promo:nth-child(even) {
    background: url("../images/promo-phone.jpg") 45% / cover no-repeat;
}
.promo:nth-child(odd) {
    background: url("../images/ofice.jpeg") 55% / cover no-repeat;
}
.promo {
    color: #fff;
    min-height: 700px;
    width: 100%;
    transition: 0.6s all;
    z-index: 10000;
    &__menu {
        height: 130px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &_logo {
            width: 150px;
        }
        img {
            max-width: 100%;
        }
        &_block {
            display: flex;
            &-item {
                list-style-type: none;
            }
            &-link {
                text-decoration: none;
                padding-left: 40px;
                text-transform: uppercase;
                font-family: 'Roboto Light';
                font-size: 18px;
                color: #fff;
            }
        }
    }
    &__title {
        font-size: 42px;
        font-family: 'Roboto Black';
        padding-top: 130px;
        width: 530px;
    }
    &__subtitle {
        font-size: 24px;
        font-family: 'Roboto Light';
        padding-top: 40px;
        padding-bottom: 40px;
        width: 500px;
        span {
            font-family: 'Roboto Bold';
        }
    }
    &__btn {
        width: 240px;
        height: 60px;
        display: block;
        margin-bottom: 70px;
        background-color: $main-color;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-size: 16px;
        border-radius: 7px;
    }
    .hamburger {
        display: none;
    }
}
